

body
{
margin: 0 auto;
padding: 0 20px 20px 20px;
font-family: Tahoma, Helvetica, Arial, sans-serif;
background: #444;
}


div.description
{
color: #fff;
padding: 5px;
}

h1
{
margin: 0.3em 0 0 0;
letter-spacing: -0.01em;
}

h2
{
margin: 0;
}

h5
{
font-weight: normal;
margin: 0 0 0 0.2em;
color: #aaa;
}

h5#TGSubheader
{
letter-spacing: 0.145em;
font-family: "Lucida Sans Unicode";
}

h5#HTSubheader
{
letter-spacing: -0.01em;
font-family: "Lucida Sans Unicode";
}

h5#TogetherSubheader
{
letter-spacing: 0.1em;
}

p
{
width: 32em;
margin: 0 0 0.5em 0;
}

form
{
margin: 0 0 1em 0;
background: #fff;
border: 1px solid #ccc;
}

div.box
{
padding: 20px;
background: #fff;
border: 1px solid #ccc;
}

fieldset
{
border: none;
padding: 20px;
}

table
{
font-size: 0.9em;
width: 100%;
}

tr.odd
{
background-color: #eaeaea;
}

table th.title
{
text-align: center;
}


th,td
{
text-align: left;
}

td
{
height: 1.6em;
padding: 0 0.5em;
}

td.editable
{
width: 200px;
height: 20px;
}

th.sortable
{
cursor: pointer;
}

td.description
{
font-size: 0.8em;
color: #999;
}

td select
{
width: 150px;
}

td.deleteColumn
{
width: 16px;
}

td.highlite
{
color: red;
}

div.textTop
{
font-size: 0.9em;
font-weight: bold;
color: #d81;
margin-top: 10px;
margin-left: 25px;
}

label.delete
{
cursor: pointer;
padding: 3px 0px 0px 0px;
display: block;
}

.loading,.editable span
{
display: none;
}

.hotText span,.hotSubmit span
{
color: #0046bf;
border-bottom: 1px dotted #0046bf;
}


ul
{
margin: 1em 0;
padding: 0;
list-style-type: none;
}

textarea
{
overflow: auto;
}

em
{
font-weight: bold;
font-style: normal;
}

a
{
color: #aaf;
}

.pagination {
	margin: 1em 0;
	color: #888888;
	width: 350px;
	margin: 0 auto;
}

.pagination a {
	color: #6666ff;	
}

.pagination .prev 
{
	float: left;
}

.pagination .next
{
	float: right;
}

.pagination .pages
{
	text-align: center;
}